---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS_ES as PROJECTS } from "@consts";
import { getIconMap } from "@lib/utils";

const projects = (await getCollection("projects-es"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const icons = getIconMap(import.meta.glob("/src/assets/projects/*/icon.*", { eager: true }) as Record<string, { default: { src: string } }>);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Proyectos
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} href={`/es/projects/${project.slug}`} icon={icons[project.slug]} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
