---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME_EN as HOME, AUTHOR } from "@consts";

const blog = (await getCollection("blog-en"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const work = (await getCollection("work-en"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const projects = (await getCollection("projects-en"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const blogIcons = Object.fromEntries(
  Object.keys(import.meta.glob('/public/blog/*/icon.*')).map(p => [
    p.split('/').at(-2)!,
    p.replace(/^\/public/, ''),
  ])
);

const workIcons = Object.fromEntries(
  Object.keys(import.meta.glob('/public/work/*/icon.*')).map(p => [
    p.split('/').at(-2)!,
    p.replace(/^\/public/, ''),
  ])
);

const projectIcons = Object.fromEntries(
  Object.keys(import.meta.glob('/public/projects/*/icon.*')).map(p => [
    p.split('/').at(-2)!,
    p.replace(/^\/public/, ''),
  ])
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <h1 class="animate text-3xl font-semibold text-black dark:text-white">
            {HOME.DESCRIPTION}
          </h1>
          <p class="animate">
            {AUTHOR.BIO_EN}
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/en/blog">
            See all
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} href={`/en/blog/${post.slug}`} icon={blogIcons[post.slug]} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work
          </h5>
          <Link href="/en/work">
            See all
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {work.map(entry => (
            <li>
              <ArrowCard entry={entry} href={`/en/work#${entry.slug}`} icon={workIcons[entry.slug]} iconClass={entry.slug === 'interacso' ? 'dark:invert' : undefined} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Projects
          </h5>
          <Link href="/en/projects">
            See all
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} href={`/en/projects/${project.slug}`} icon={projectIcons[project.slug]} />
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
